/* Reset de margin e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    position: relative;
  }

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url(a\ kingdom\ at\ night\ \(3\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1 0 auto;
}

table {
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}

table th, table td {
    background-color: #ffdd57;
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    white-space: nowrap; /* Prevent text from wrapping */
    padding: 10px;
    border: 0.15rem solid #000000;
}

table td{
    font-size: larger;
}

table th label{
    color: #f2f2f2;
    font-size: 20px;
}
table th{
background-color: #000000;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #000000;
}

footer{
    flex-shrink: 0;
}

