*, *::before, *::after{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Baskervville SC", serif;
}

html {
    height: 100%;
    position: relative;
  }

body {
    background-image: url("fundo.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1 0 auto;
}

.registro {
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #ffffffc9;
    border: 2px solid black;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.registro p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.registro label {
    margin-bottom: 5px;
}

.registro input[type="text"],
.registro input[type="password"],
.registro input[type="email"],
.registro input[type="date"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.registro button[type="submit"] {
    padding: 10px;
    background-color: #fffb28;
    color: #000000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.registro button[type="submit"]:hover {
    background-color: #b3a700;
}

.registro .mensagem {
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="nickname"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box; 
}

.registro_edit .input_enviar[type="submit"] {
    padding: 10px;
    background-color: #fffb28;
    color: #000000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.registro_edit button[type="submit"]:hover {
    background-color: #b3a700;
}

.registro_edit .mensagem {
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-align: center;
}

footer {
    flex-shrink: 0; /* Impede que o footer seja encolhido */
  }