/* Reset de margin e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #333;
}

/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-container h2 {
    margin: 0;
}

.header-container a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #e6b800;
    border-radius: 5px;
}

.header-container a:hover {
    background-color: #ffc107;
}

/* Estilo para o formulário de pesquisa e filtros */
form {
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form div {
    margin-top: 10px;
}

form div input[type="radio"] {
    margin-right: 5px;
}

form div label {
    margin-right: 15px;
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Estilo para a tabela de usuários */
table {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 0;
    table-layout: fixed;
}

table th, table td {
    background-color: #ffdd57;
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    white-space: nowrap; /* Prevent text from wrapping */
    padding: 10px;
    border: 0.15rem solid #000000;
}

table td{
    font-size: larger;
}

table th {
    background-color: #000000;
    color: #f2f2f2;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #000000;
}

/* Estilos para o footer */
.footer {
    background-color: #e6b800;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; /* Espaçamento interno do footer */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-links {
    display: flex;
}

.social-links a {
    margin-right: 10px; /* Espaçamento entre os ícones das redes sociais */
}

.social-links img {
    width: 30px; /* Tamanho dos ícones das redes sociais */
    height: auto;
}

.copyright {
    font-size: 14px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
